<!DOCTYPE html>
<html class="welcome_page_html">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Special+Elite" rel="stylesheet">
    <meta charset="utf-8">
    <title>Newspin</title>
  </head>
  <body class="welcome_page_body">

    <h1 class="newspin_title">Newspin</h1>

    <h2 class="slogan">Save and share your articles</h2>

    <div class="user_forms">
      <%= form_for :user, url: '/signup', :html => { :class => "signup-form" } do |f| %>
      <%= f.text_field :name,
                        placeholder: "Name",
                        :class => "user_inputs"%><br>
      <%= f.text_field :surname,
                        placeholder: "Surname",
                        :class => "user_inputs"%><br>
      <%= f.text_field :email,
                        placeholder: "Email",
                        :class => "user_inputs" %><br>
      <%= f.password_field :password,
                            placeholder: "Password",
                            :class => "user_inputs" %><br>
      <%= f.password_field :password_confirmation,
                            placeholder: "Password Confirmation",
                            :class => "user_inputs" %><br>
      <%= f.submit "Sign Up",
                    :class => "btn btn-default" %>
      <% end %>

      <%= form_for :user, url: '/login', :html => { :class => "login-form" } do |f| %>
      <%= f.text_field :email,
                        placeholder: "Email",
                        :class => "user_inputs" %><br>
      <%= f.password_field :password,
                            placeholder: "Password",
                            :class => "user_inputs" %><br>
      <%= f.submit "Log In",
                    :class => "btn btn-default" %>
      <% end %>
    </div>

  </body>
</html>
