<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Muli|Playfair+Display|Special+Elite" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Newspin</title>
  </head>
  <body class="body-profile">
    <div class="row">
      <nav class="navbar navbar-default navbar-color navbar-fixed-top transparent">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">
              <a title="home" href="/">
                <img class="newspin_logo" src="/assets/LogoMakr.png" alt="logo" />
              </a>
            </a>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
              <li><a href="/timeline">Timeline</a></li>
              <li><%= link_to "Log Out", "/logout", class: "logout-link", :method => :delete %></li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>

    <div class="row profile-timeline-background">
      <div class="profile-infos">
        <div class="profile-name">
            <%= current_user.name %> <%= current_user.surname %>
        </div>
        <div class="profile-stats">
          <ul class="list-unstyled">
            <li>Articles posted: <b class="bold">55</b></li>
            <li>Followers: <b class="bold">36</b></li>
            <li>Following: <b class="bold">41</b></li>
            <li>Favourite Newspaper: <b class="bold">NYTimes</b></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row profile-timeline-background">
      <div class='container-add-link'>

        <form class="add-article-url" action="/profile/add_article" method="POST">
          <input type="url" class="form-control add-article-input-field" name="article_url" placeholder="Save your article here">
          <button type="submit" class="btn btn-default article-submit" name="submit" value="submit">POST</button>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        </form>

      </div>
    </div>

    <div class="row profile-timeline-background">
      <div class='container-profile-articles'>

        <%= react_component('ArticleList', articles: @articles) %>

      </div>
    </div>


  </body>
</html>
